:root { 
--purple_100:#eecfeb; 
--deep_orange_50:#f6e1e1; 
--teal_100_01:#a9d4e1; 
--teal_100_02:#a1ebde; 
--blue_gray_50:#f1f2f2; 
--purple_100_02:#dcc5e6; 
--deep_orange_100_01:#f8cdbf; 
--purple_100_01:#e5cad6; 
--orange_100_01:#f4d6a8; 
--orange_100_02:#f9d8a6; 
--light_green_400:#b6d152; 
--red_400:#dd5a4b; 
--red_400_01:#db5242; 
--black_900_3f:#0000003f; 
--deep_purple_100:#d1b5e7; 
--teal_200:#8fbac8; 
--red_100:#f0d8d8; 
--deep_purple_200:#a8a2ec; 
--teal_100:#a5cdda; 
--purple_100_03:#f8c5ea; 
--light_green_400_51:#b6d15251; 
--black_900:#000000; 
--light_green_500:#9fb543; 
--deep_orange_400:#fb6e52; 
--purple_800:#611ca7; 
--pink_300:#bf5888; 
--deep_orange_100:#f4bfbf; 
--cyan_200_01:#83ebd9; 
--black_900_26:#00000026; 
--pink_200:#fb8ec8; 
--lime_200:#e5f5a3; 
--pink_200_60:#fb8ec860; 
--gray_700:#5d5d5d; 
--gray_400:#c5a9a9; 
--blue_gray_100:#d9d9d9; 
--gray_800:#594a42; 
--lime_100:#f8e7cd; 
--orange_100:#f2d5a9; 
--cyan_200:#83ebd8; 
--indigo_200:#a7a1eb; 
--cyan_100:#c0faef; 
--gray_400_01:#b8aeae; 
--teal_200_01:#8ebac8; 
--gray_400_02:#bcb2b2; 
--blue_100:#bee1ed; 
--white_A700:#ffffff; 
--gray_700_01:#8c5243; 
}